body {
  background-color: #28abb9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App {
  /* background-color: #2d6187; */
  border-radius: 0.4rem;
  width: 450px;
  margin: 2rem auto;
  padding: 1rem 5rem;
}

.App h1 {
  text-align: left;
  color: #fff;
}

.form-todo {
  display: inline-block;
}

.form-todo input[type=text] {
  border: none;
  border-radius: 0.2rem;
  font-size: 1rem;
  color: #2d6187;
  width: 370px;
  margin-right: 0.3rem;
  padding: 0.5rem;
}

.form-todo input[type=text]:focus {
  outline: none;
  border: 3px solid #a8dda8;
  border-radius: 0.3rem;
  font-size: 1rem;
  color: #2d6187;
  width: 365px;
  margin-right: 0.5rem;
  padding: 0.5rem;
}

.todo-list {
  background-color: #effad3;
  border: none;
  color: #2d6187;
  border-radius: 0.3rem;
  display: inline-block;
  font-weight: bolder;
  width: 370px;
  padding: 5px;
  margin: 0.3rem 0;
}

.btn {
  outline: none;
  background-color: #28abb9;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bolder;
  border-radius: 0.3rem;
  padding: 0.5rem 0.8rem;
}

.btn-todo {
  outline: none;
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: bolder;
}

/* .button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 0.3rem;
  color: white;
  padding: 0.7rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 1rem auto 1rem auto;
} */
